.mainchat
  .header
    .header__heading
      .header__heading__group_name
        group_name
      .header__heading__group_member
        Member

    .edit
      =link_to "#", class: "header__edit__btn" do
        Edit

  .contents
    .contents__message
      .contents__message__title
        .contents__message__title__name
          shouya
        .contents__message__title__time
          2019/11/13/17:28
      .contents__message__text
        this is a first messageß

  .form
    .form__window
      %input.form__window__input{placeholder: "type a message"}
      %label
        %input{type: "file", style: "display: none"}
        = icon('fas', 'images', class: "form__window__image_btn") 


    =link_to "#", class: "form__send_btn" do
      Send
