.sidebar
  .sidebar__header
    .sidebar__header__account
      = current_user.name
    .sidebar__header__link
      =link_to "#" do
        = icon('fas', 'edit', class: "sidebar__header__link__btn")
      =link_to edit_user_path(current_user.id) do
        = icon('fas', 'cog', class: "sidebar__header__link__btn") 

  .sidebar__contents
    .sidebar__contents__room
      .sidebar__contents__room__title
        sample
      .sidebar__contents__room__text
        まだメッセージはありません
    .sidebar__contents__room
      .sidebar__contents__room__title
        good bye world
      .sidebar__contents__room__text
        まだメッセージはありません


